.center {
    margin-right: auto;
    margin-left: auto;
    width: 60%;
}
.selectimg{
	height: 200px;
	border: 1px solid #000;
	background: #ddd;
	padding: 40px;
	cursor: pointer;
}.selectimg p{
	font-size: 15px;
	margin-top: 20px;
}
.cham-avt{
	width: 90%;
	margin-left: 5%;
	margin-bottom: 30px;
	overflow-x: scroll;
	overflow:auto;
	max-height: 550px;
}
.cham-avt img{
margin-top: 20px;
width: 95%;
margin-right: 2.5%;
cursor: pointer;
}
.search-form{ 
	margin : 20px 0;
	padding: 0 100px;
}
.modal-dialog{
	width: 90%;
}
 .cham-avt img.cover{
	width: 90%;
	height: 200px;
	margin:10px 5%;
}
.imgsuccess{
	max-width: 600px;
	height: 200px;
}